
.mainbox{
    padding: 20px;
}
.filter_search{
    display: flex;
}
.select_hotel{
    width: 50%;
    display: flex;
}
.select_hotel button{
    margin-left: 20px;
}
.select_hotel select{
    width: 70%;
}
.select_date{
    margin-left: 50px;
}
.select_date button{
    margin-left: 20px;
}